.modo-escuro {
  $cor-primaria: #2e2e47;
  $cor-secundaria: #fffafa;
  $cor-terciaria: #242424;
  $cor-bordas: #6e6d8a;
}

.modo-diurno {
  $cor-primaria: #fffafa;
  $cor-secundaria: #2e2e47;
  $cor-terciaria: #242424;
  $cor-bordas: #6e6d8a;
}
