.header {
  display: block;
  font-family: system-ui;
  text-align: end;
  height: 80px;

  a {
    color: #fffafa;
    border: 1px #6e6d8a solid;
    border-radius: 5px;
    padding: 5px;

    &:hover {
      color: #6e6d8a;
    }

    &.icons {
      padding: 5px 7px;
    }
  }

  ul {
    display: flex;

    justify-content: flex-end;
    list-style-type: none;

    li {
      flex-wrap: nowrap;
      margin: 0 5px;
    }
  }
}

// li {
//   &.menu-right {
//     flex: 1;
//     text-align: right;
//   }
// }
