.header {
  display: flex;
  align-items: center;
  font-family: system-ui;
  height: 80px;
  margin-bottom: 150px;

  a {
    color: #fffafa;
    border: 1px #6e6d8a solid;
    border-radius: 5px;
    padding: 5px 7px;

    &:hover {
      color: #6e6d8a;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  ul.header__toggle {
    padding: 0;
  }

  ul.header__contato {
    padding: 0;
    margin-left: auto; //alinhamento à direita

    li {
      margin: 0 5px;
    }
  }
}

@media (min-width: 1025px) {
  /* Regras para desktops */
}

@media (min-width: 0px) and (max-width: 768px) {
  /* Regras para dispositivos móveis */
  .header {
    margin-bottom: 30px;
  }
}
