:root {
  background-color: #2e2e47;
  color: #fffafa;

  font-family: system-ui, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;

  /* transição de troca de cor (modo-noturno) */
  transition: background-color 2s ease-in-out;
  transition: color 2s ease-in-out;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: block;
  min-width: 36vh;
  min-height: 100vh;
}


/* botões com hover e animação de troca de cor */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* --- media queries --- */
@media (min-width: 1025px) {
  /* Regras para desktops */
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Regras para tablets */
}

@media (min-width: 0px) and (max-width: 768px) {
  /* Regras para dispositivos móveis */
}
