body {
  background-color: #2e2e47;
  color: #fffafa;
  transition: background 0.75s ease-in-out;

  .texto-apresentacao {
    text-align: left;

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }

    h1,
    h2 {
      margin: 0;
    }
  }
}
