body {
  background-color: #2e2e47;
  color: #fffafa;
  transition: background-color 0.75s ease-in-out;
  transition: color 1s ease-in-out;

  .texto-apresentacao {
    text-align: left;

    h1 {
      font-size: 2em;
      line-height: 0;
    }

    h2 {
      font-size: 1.5em;
    }

    h1,
    h2 {
      margin: 0;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

//piscando
@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

@media (min-width: 1025px) {
  /* Regras para desktops */

  p.texto-dinamico {
    animation: typing 6s steps(104), blinking 0.5s step-end alternate;
    overflow: hidden;
    white-space: nowrap;
    width: 104ch;
  }
}
