.homepage {
  .texto-apresentacao {
    text-align: left;

    h1 {
      font-size: 3em;
      line-height: 1.1;
    }

    h2 {
      font-size: 1.5em;
    }

    h1,
    h2 {
      margin: 0;
    }
  }
}

//Animação máquina de escrever: escrevendo do 0 até
@keyframes typing {
  from {
    width: 0;
  }
}

//piscando
@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

@media (min-width: 1025px) {
  /* Regras para desktops */

  .texto-dinamico {
    animation: typing 8s steps(104), blinking 0.5s step-end alternate;
    overflow: hidden;
    white-space: nowrap;
    width: 104ch;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  /* Regras para dispositivos móveis */
  h1, h2 {
    text-align: center;
  }
}
